{% extends "base.html" %}

{% block title %}Lock Page{% endblock %}

{% block content %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="openModal" style="display: none;">Open Modal</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Records</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-10">
                    <input class="form-control mr-sm-2" type="text" id="daterange" name="daterange" value="">
                </div>
                <div id="table"></div>
            </div>
        </div>
    </div>
</div>
<div class="locks-board">
    <div class="locks-page-header">
        <h2> Locks </h2>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Serial_number</th>
                <th scope="col">Battery</th>
                <th scope="col">Update time</th>
                <th scope="col">Sector</th>
                <th scope="col">Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data.list %}
                <tr>
                    <td scope="row">{{ loop.index }}</td>
                    <td>{{ item.lockName }}</td>
                    <td>{{ item.electricQuantity }}%</td>
                    <td>{{ item.electricQuantityUpdateDate }}</td>
                    <td>{{ item.sector }}</td>                        
                    <td><button class="btn btn-outline-primary my-2 my-sm-0" onclick="javascript:loadRecord({{ item.lockId }})">Records</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    var _lockId = -1;
    var startDate = -1;
    var endDate = -1;
    let grid;

    var clearFilter = function() {
        startDate = -1;
        endDate = -1;        
        $('#daterange').val('');
    }
    
    $(document).ready(function() {
        $('#daterange').daterangepicker({
            opens: 'right'
        }, function(start, end, label) {
        });
        $('#daterange').on('cancel.daterangepicker', function(ev, picker) {
            //do something, like clearing an input
            clearFilter();
            grid.forceRender();
        });
        $('#daterange').on('apply.daterangepicker', function(ev, picker) {
            startDate = new Date(picker.startDate.format('YYYY-MM-DD')).getTime();
            endDate =  new Date(picker.endDate.format('YYYY-MM-DD')).getTime();
            grid.forceRender();
        });
        clearFilter();
    })

    var loadRecord = function (lockId) {
        _lockId = lockId;
        grid = new gridjs.Grid({
            fixedHeader: true,
            height: '400px',
            columns: [
                { id: 'username', name: 'CreatedBy', width: '140px'},
                { id: 'recordType', name: 'Type',},
                { id: 'lockDate', name: 'Date/Time', width: '140px'},
                { id: 'success', name: 'Status', width: '100px'},
            ],
            server: {
                url: '/lock/data?lockId=' + lockId,
                then: results => results.data,
                total: results => results.total,
            },
            search: false,
            sort: false,
            pagination: {
                limit: 20,
                server: {
                    url: (prev, page, limit) => '/lock/data?lockId=' + lockId + '&page=' + page + '&startDate=' + startDate + '&endDate=' + endDate
                }
            },
            style: {
                container : {
                    'overflow-x': 'hidden'
                },
                table: {
                },
                th: {
                    'background-color': 'rgb(250, 250, 250)',
                    color: '#000',
                    'padding': "8px 10px"
                },
                td: {
                    'word-break': 'break-all',
                    'padding': "8px 10px",
                    'cursor': 'pointer'
                }
            }
        }).render(document.getElementById('table'));
        
        $('#openModal').click();

    }
</script>
{% endblock %}